* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #4ebd57;
}

.row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

header {
  background-color: #9e8364;
  background-image: url("./images/banner.jpeg");
  background-size: cover;
  height: 200px;
  width: 100%;
}

.nav {
  background-color: aqua;
  height: 3rem;
}

li {
  list-style-type: none;
  background-color: aqua;
  margin: auto;
  font-size:1.25rem;
  
}

a {
  background-color: aqua;
  text-decoration: none;
}

h1 {
  color: yellow; 
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.info p {
  color: black;
  text-align: left;
  margin-left: 45%;
}

img {
  max-height: 10rem;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 1rem;
  margin-bottom:1rem;

}

.card {
  width:25%;
  margin-bottom: 2rem;
  
}

.icon {
  /* max-height: 25%; */
  margin: 5%;
  border: solid 1px white;
  padding: 1rem;
}

.list-info {
  margin-top: 3rem;
}


button {
  margin-top: 1rem;
  background-color: white;
  padding: 0.25rem;
}

h2 {
  color: rgb(191, 218, 242);
}

p {
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

footer {
  background-color: #d8ccb6;
  height: 50px;
  margin-top: 5rem;
}


